:root {
}

.PauseButton {
    flex-grow: 1;
    position: absolute;
    top: 70%;
    right: -6%;
    justify-content: center;
    transition-property: right;
    transition-duration: 0.1s;
}

.PauseButton:hover {
    flex-grow: 1;
    position: absolute;
    top: 70%;
    right: -4%;
    justify-content: center;
    transition-property: right;
    transition-duration: 0.1s;
}

.LevelButton {
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    flex-shrink: 1;
    flex-grow: 0;
}
