:root {
    width: auto;
    height: auto;
    -unity-background-scale-mode: scale-and-crop;
    aspect-ratio: auto;
    align-content: auto;
    align-items: stretch;
    justify-content: flex-start;
    flex-grow: 1;
    flex-basis: auto;
    flex-direction: column;
    flex-wrap: wrap;
}

.textInfo {
    flex-grow: 1;
    background-color: rgb(188, 191, 196);
    height: 100%;
}

.moreInfo {
    flex-grow: initial;
    align-items: flex-start;
    background-color: rgb(51, 51, 51);
    height: 40%;
    width: 100px;
    justify-content: center;
    border-bottom-right-radius: 20px;
}

.Puase_button {
    top: 55%;
    right: -8%;
    transition-property: right;
    translate: 0 0;
    position: absolute;
    transition-duration: 0.1s;
    justify-content: center;
}

.Puase_button:hover {
    top: 55%;
    right: -6%;
    transition-property: right;
    translate: 0 0;
    position: absolute;
    transition-duration: 0.1s;
}

.LevelButton {
    margin-top: 0;
    margin-right: 37px;
    margin-bottom: 0;
    margin-left: 27px;
    flex-shrink: 1;
    flex-grow: 0;
    padding-top: 43px;
    padding-right: 43px;
    padding-bottom: 43px;
    padding-left: 43px;
    aspect-ratio: auto;
    transition-property: scale;
    transition-duration: 0.1s;
    width: 12%;
}

.LevelButton:hover {
    margin-top: 0;
    margin-right: 37px;
    margin-bottom: 0;
    margin-left: 27px;
    flex-shrink: 1;
    flex-grow: 0;
    padding-top: 43px;
    padding-right: 43px;
    padding-bottom: 43px;
    padding-left: 43px;
    aspect-ratio: auto;
    scale: 1.1 1.1 0;
    transition-property: scale;
    transition-duration: 0.1s;
    transform-origin: center;
    width: 12%;
}
